@font-face {
  font-family: myFont;
  src: url("grace.ttf");
}

.icon {
  border-radius: 50%;
  margin:auto;
  float: left;
}

.container_text{
  display: inline;
  float: right;
}
.column {
  text-align: center;
  float: left;
  width: 50%;
  font-family: myFont;
}
p.b{
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

p.d {
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  font-family: myFont;

}

}


p.c{
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

.header{
  font-family: myFont;
  text-align: center;
}

p.a{
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

.leaderheader{
    font-family: myFont;
    text-align: center;

}
.imageB{
  float: right; 
}
