@font-face {
  font-family: myFont;
  src: url("grace.ttf");
}

.container {
   position: relative;
   width: 1300px;
   height: 500px;
   margin: 70px auto;



}

.container .box{
  position: relative;
  width: calc(650px - 50px);
  height: calc(500px - 30px);
  background-color: #007C92;
  background:url("jstart_dots.png") repeat, #007C92;
  float: left;
  margin: 25px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  justify-content: center;
  display: flex;
}
.container .box .text{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 1;
}

.container .box .text{
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
  justify-content: center;
  font-size: 37px;
  color: white;
}

.container .box:hover  {
   top:20px;
   right: calc(50%-40px);
   width: 80px/2;
   height: 120px;

}






.headerContainer{
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("thumbnail.jpg");
  background-repeat: repeat;
}
.header{

  font-family: myFont;
  text-align: center;
  font-size: 50px;

}
.headerContainer .header .h1{
  font-size: 40px;
}


.hoverContainer .headerContainer:hover .header{

  background-image: url("jstart_dots.png");
  background-color: #007C92;
}

.leaderheader{
  margin-top: 60px;
  text-align: center;


}



.leaderheader .h1{
    font-family: myFont;
    text-align: center;
    margin-bottom: 25px;

}

.leaderheader .our_team{
  display: flex;
  width: auto;
  justify-content: center;

}

.team_member{
  border-radius: 25px;
}

.leaderheader .our_team .team_member{
  width: 250px;
  margin: 5px;
  background: #007C92;
  padding: 10px 10px;
}

.leaderheader .our_team .team_member .member_img{
   max-width: 190px;
   width: 100%;
   height: 190px;
   margin: 0 auto;
   border-radius: 50%;
   padding: 5px;
   cursor: pointer;
   position: relative;
   justify-content: center;
}
.leaderheader .our_team .team_member .member_img img{
  width: 95%;
  height: 100%;
  border-radius: 50%;

}
.leaderheader .our_team .team_member h3{

  font-size: 18px;
  margin: 15px 0 0;

}
.leaderheader .our_team .team_member span{
  fontsize: 15px;

}

.leaderheader .our_team .team_member p{
  margin-top: 20px;
  line-height: 20px;
}

.leaderheader .our_team .team_member .email{
   position: absolute;
   top: 5px;
   left: 5px;
   width: 95%;
   height: 95%;
   background: rgba(0, 0, 0, 0.65);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.5s ease;
}
.leaderheader .our_team .team_member .email .itemPic{
  margin: 0 10px;
}
.leaderheader .our_team .team_member .email .itemPic .far{
  color: #D52B1E;
  font-size: 20px;
}
.footer {
  background: #D1D4D3;
  color: #D52B1E;
  height: 400px;
  position: relative;
  margin: none;
}

.footer .footer-content{
  border: 1px solid white;
  height: 350px;
  display: flex;

}
.footer .footer-links{
  border: 1px solid white;
  height: 350px;
  display: flex;
}
.footer .footer-content .footer-about {
  flex: 1;
  padding: 25px;
  border: 1px solid white;
  font-size: 14px;
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
  color: #D52B1E;
}
.footer .footer-content .footer-links{
  flex: 1;
  padding: 25px;
  border: 1px solid white;
  font-size: 14px;
}



.footer .footer-content .footer-contact{
  flex: 1;
  padding: 25px;
  border: 1px solid white;
  font-size: 14px;
}
.footer .footer-bottom{
  background-color: #D1D4D3;

  height: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}
.footer-About {
  font-size: 14px;
}
