/* Navbar container */
 .slideBar {
width: 100%;
height: auto;
overflow:hidden;
margin-left: auto;
marign-right: auto;
text-align: center;
}
.image-container {
  width: 300%;
  height: auto;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;

}
.slider-image{
  float: left;
  margin: 0px;
  padding: 0px;
}
.button-container{
  top: -20px;
  position: relative;
}
.slider-button{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: white;
}
#slider-image-1:target ~ .image-container{
  left: 0px;
}
#slider-image-2:target ~ .image-container{
  left: -100%;
}
#slider-image-3:target ~ .image-container{
  left:-200%;
}

.navbar {
  overflow: hidden;
  background-color: #5E6A71;
  font-family: Arial;
}


.navbar a {
  float: left;
  font-size: 16px;
  color: #D52B1E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.About-Us {
  float: left;
  overflow: hidden;
}

.Get-Involved  {
  float: left;
  overflow: hidden;
}
.Community {
  float: left;
  overflow: hidden;
}

/* Dropdown button */

.About-Us .dropbtnC {
  font-size: 16px;
  border: none;
  outline: none;
  color:#D52B1E;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.Get-Involved .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #D52B1E;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.Community .dropbtnA {
  font-size: 16px;
  border: none;
  outline: none;
  color:#D52B1E;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .About-Us:hover .dropbtn {
  background-color:#D1D4D3;
}

.navbar a:hover, .Get-Involved:hover .dropbtn {
  background-color:#D1D4D3;
}

.navbar a:hover, .Community:hover .dropbtnA {
  background-color:#D1D4D3;
}
/* Dropdown content (hidden by default) */
.dropdown-contentC {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contentB {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-contentC a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contentB a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */

.dropdown-contentC a:hover {
  background-color: #ddd;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-contentB a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.About-Us:hover .dropdown-contentC {
  display: block;
}

.Get-Involved:hover .dropdown-content {
  display: block;
}

.Community:hover .dropdown-contentB {
  display: block;
}
